# Node.js dependencies
node_modules/
npm-debug.log

# Environment variables (Secrets)
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
pm2.log

# OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Build output
dist/
build/
.cache/
.next/
out/

# Docker
docker-compose.override.yml