<%- include ("partials/header.ejs") %>

<title>About Haunted City</title>

<body>



    <div class="text-center page-header">

        <div class="container">
            <h1>About Us</h1>
            <h2>Haunted City Roller Derby York is an independent, competitive sports team that is entirely run and funded by skaters themselves.</h2>
        </div>
    </div>

    <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><style>
      .path-0{
        animation:pathAnim-0 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @keyframes pathAnim-0{
        0%{
          d: path("M 0,400 L 0,400 C 100.82142857142858,251.71428571428572 201.64285714285717,103.42857142857143 337,56 C 472.35714285714283,8.571428571428575 642.2499999999999,62.000000000000014 774,71 C 905.7500000000001,79.99999999999999 999.3571428571429,44.571428571428584 1104,92 C 1208.642857142857,139.42857142857142 1324.3214285714284,269.7142857142857 1440,400 L 1440,400 L 0,400 Z");
        }
        25%{
          d: path("M 0,400 L 0,400 C 116.39285714285714,258.42857142857144 232.78571428571428,116.85714285714286 372,79 C 511.2142857142857,41.142857142857146 673.2500000000001,107 777,107 C 880.7499999999999,107 926.2142857142858,41.14285714285714 1027,79 C 1127.7857142857142,116.85714285714286 1283.892857142857,258.42857142857144 1440,400 L 1440,400 L 0,400 Z");
        }
        50%{
          d: path("M 0,400 L 0,400 C 89.60714285714286,242.53571428571428 179.21428571428572,85.07142857142857 308,44 C 436.7857142857143,2.9285714285714284 604.7499999999999,78.25 731,80 C 857.2500000000001,81.75 941.7857142857142,9.92857142857143 1053,51 C 1164.2142857142858,92.07142857142857 1302.107142857143,246.03571428571428 1440,400 L 1440,400 L 0,400 Z");
        }
        75%{
          d: path("M 0,400 L 0,400 C 99.32142857142858,271.7142857142857 198.64285714285717,143.42857142857144 337,107 C 475.35714285714283,70.57142857142857 652.75,126.00000000000001 784,111 C 915.25,95.99999999999999 1000.3571428571429,10.57142857142857 1102,47 C 1203.642857142857,83.42857142857143 1321.8214285714284,241.71428571428572 1440,400 L 1440,400 L 0,400 Z");
        }
        100%{
          d: path("M 0,400 L 0,400 C 100.82142857142858,251.71428571428572 201.64285714285717,103.42857142857143 337,56 C 472.35714285714283,8.571428571428575 642.2499999999999,62.000000000000014 774,71 C 905.7500000000001,79.99999999999999 999.3571428571429,44.571428571428584 1104,92 C 1208.642857142857,139.42857142857142 1324.3214285714284,269.7142857142857 1440,400 L 1440,400 L 0,400 Z");
        }
      }</style><path d="M 0,400 L 0,400 C 100.82142857142858,251.71428571428572 201.64285714285717,103.42857142857143 337,56 C 472.35714285714283,8.571428571428575 642.2499999999999,62.000000000000014 774,71 C 905.7500000000001,79.99999999999999 999.3571428571429,44.571428571428584 1104,92 C 1208.642857142857,139.42857142857142 1324.3214285714284,269.7142857142857 1440,400 L 1440,400 L 0,400 Z" stroke="none" stroke-width="0" fill="#692b7b" fill-opacity="0.4" class="transition-all duration-300 ease-in-out delay-150 path-0"></path><style>
      .path-1{
        animation:pathAnim-1 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @keyframes pathAnim-1{
        0%{
          d: path("M 0,400 L 0,400 C 105.25,288.75 210.5,177.5 341,148 C 471.5,118.5 627.2500000000001,170.75 757,183 C 886.7499999999999,195.25 990.5,167.50000000000003 1100,197 C 1209.5,226.49999999999997 1324.75,313.25 1440,400 L 1440,400 L 0,400 Z");
        }
        25%{
          d: path("M 0,400 L 0,400 C 108.92857142857142,321.07142857142856 217.85714285714283,242.14285714285714 340,197 C 462.14285714285717,151.85714285714286 597.5,140.49999999999997 725,140 C 852.5,139.50000000000003 972.1428571428571,149.85714285714286 1090,195 C 1207.857142857143,240.14285714285714 1323.9285714285716,320.07142857142856 1440,400 L 1440,400 L 0,400 Z");
        }
        50%{
          d: path("M 0,400 L 0,400 C 90.32142857142858,301.4642857142857 180.64285714285717,202.92857142857142 301,166 C 421.35714285714283,129.07142857142858 571.7499999999999,153.75 722,148 C 872.2500000000001,142.25 1022.3571428571429,106.07142857142858 1142,143 C 1261.642857142857,179.92857142857142 1350.8214285714284,289.9642857142857 1440,400 L 1440,400 L 0,400 Z");
        }
        75%{
          d: path("M 0,400 L 0,400 C 85.42857142857142,314.4642857142857 170.85714285714283,228.92857142857142 309,196 C 447.14285714285717,163.07142857142858 638,182.75 769,184 C 900,185.25 971.1428571428571,168.07142857142858 1073,201 C 1174.857142857143,233.92857142857142 1307.4285714285716,316.9642857142857 1440,400 L 1440,400 L 0,400 Z");
        }
        100%{
          d: path("M 0,400 L 0,400 C 105.25,288.75 210.5,177.5 341,148 C 471.5,118.5 627.2500000000001,170.75 757,183 C 886.7499999999999,195.25 990.5,167.50000000000003 1100,197 C 1209.5,226.49999999999997 1324.75,313.25 1440,400 L 1440,400 L 0,400 Z");
        }
      }</style><path d="M 0,400 L 0,400 C 105.25,288.75 210.5,177.5 341,148 C 471.5,118.5 627.2500000000001,170.75 757,183 C 886.7499999999999,195.25 990.5,167.50000000000003 1100,197 C 1209.5,226.49999999999997 1324.75,313.25 1440,400 L 1440,400 L 0,400 Z" stroke="none" stroke-width="0" fill="#692b7b" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-1"></path><style>
      .path-2{
        animation:pathAnim-2 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @keyframes pathAnim-2{
        0%{
          d: path("M 0,400 L 0,400 C 154.35714285714283,360.3928571428571 308.71428571428567,320.7857142857143 415,294 C 521.2857142857143,267.2142857142857 579.5,253.24999999999994 683,248 C 786.5,242.75000000000006 935.2857142857142,246.21428571428572 1069,273 C 1202.7142857142858,299.7857142857143 1321.357142857143,349.8928571428571 1440,400 L 1440,400 L 0,400 Z");
        }
        25%{
          d: path("M 0,400 L 0,400 C 137.28571428571428,354.8571428571429 274.57142857142856,309.7142857142857 397,293 C 519.4285714285714,276.2857142857143 626.9999999999999,288 727,281 C 827.0000000000001,274 919.4285714285713,248.28571428571428 1037,265 C 1154.5714285714287,281.7142857142857 1297.2857142857142,340.8571428571429 1440,400 L 1440,400 L 0,400 Z");
        }
        50%{
          d: path("M 0,400 L 0,400 C 126.5,333.1071428571429 253,266.2142857142857 385,258 C 517,249.78571428571428 654.5000000000001,300.25 776,302 C 897.4999999999999,303.75 1003,256.78571428571433 1111,265 C 1219,273.21428571428567 1329.5,336.60714285714283 1440,400 L 1440,400 L 0,400 Z");
        }
        75%{
          d: path("M 0,400 L 0,400 C 112.14285714285714,340.2857142857143 224.28571428571428,280.57142857142856 351,260 C 477.7142857142857,239.42857142857142 619,258 736,261 C 853,264 945.7142857142858,251.42857142857144 1059,272 C 1172.2857142857142,292.57142857142856 1306.142857142857,346.2857142857143 1440,400 L 1440,400 L 0,400 Z");
        }
        100%{
          d: path("M 0,400 L 0,400 C 154.35714285714283,360.3928571428571 308.71428571428567,320.7857142857143 415,294 C 521.2857142857143,267.2142857142857 579.5,253.24999999999994 683,248 C 786.5,242.75000000000006 935.2857142857142,246.21428571428572 1069,273 C 1202.7142857142858,299.7857142857143 1321.357142857143,349.8928571428571 1440,400 L 1440,400 L 0,400 Z");
        }
      }</style><path d="M 0,400 L 0,400 C 154.35714285714283,360.3928571428571 308.71428571428567,320.7857142857143 415,294 C 521.2857142857143,267.2142857142857 579.5,253.24999999999994 683,248 C 786.5,242.75000000000006 935.2857142857142,246.21428571428572 1069,273 C 1202.7142857142858,299.7857142857143 1321.357142857143,349.8928571428571 1440,400 L 1440,400 L 0,400 Z" stroke="none" stroke-width="0" fill="#692b7b" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-2"></path></svg>
    
      <div class="container-fluid  info-card info purple text-center">
      
      <h2>What is roller derby? </h2>
      <p>Roller derby is a full contact team sport on quad roller skates. The origins of roller derby date back to the Victorian times, when a desire for the alternative met the need for physical exercise. Currently, the game is played on a flat track, usually in a sports hall, and involves two teams of maximum five people on track that compete against each other to get most points.</p>
      <p>One person from each team, called a jammer, collects points for their team by going around the track, while four other people, called blockers, try to stop the opposing team’s jammer from doing the same. </p> 
      <p>Roller derby is for everyone! We have a women and non-binary team (WFTDA), and a team open to all genders (OTA).</p>
      
      <div class="container text-center video" style="margin-top: 50px;">
        <iframe  src="https://www.youtube-nocookie.com/embed/OId6gTd2LCM?si=I7DWTfB1xFO9VKYe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>


    <div class="container-fluid" id="aboutPage">

        <div class="container info-card info">
      <h2>Haunted City Roller Derby</h2>

      <p>When you join Haunted City Roller Derby you don't just join a sports club. You join a family and a community. You put hard work in but you make some of your best friends.</p>
      <p>You develop as a person as you push yourself harder to grow for something you start to realise you love more than you ever dreamt possible, your team and this amazing sport. As they say: Roller Derby will save your soul.</p>
      </div>
  <!-- Cine 20.1-->
  <!--<div
    id="carouselExampleIndicators"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="derby1Cin.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="derby2Cin.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="derby3Cin.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="derby4Cin.jpg" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>-->

  <img class="img-fluid pride-flag" src="pride.png">

  <div class="container purple info-card info">

    <h2>Proud to be Inclusive</h2>
    <p>Roller Derby has always set a powerful and revolutionary example in the sporting world in terms of acceptance and inclusivity, and Haunted City Roller Derby is proud to be all-inclusive.</p>
    <p>As a league we take a firm stance on welcoming transgender women and non-binary people to skate as part of our women's competitive team and skaters of all genders have always been welcome at our training sessions and open to all games.</p>
    <p>Ultimately, we aim to foster a community built on celebrating diversity and building inclusivity, where people from all backgrounds can participate, whilst ensuring we create a safe space where everyone feels confident to take part in this full-contact sport.</p>
  </div>

  <div class="container-fluid info-card info">
    <h2>Our History</h2>
    <p>We have grown from a fledgling league to having over 50 skaters and officials, and are now moving on to our next journey with a rebrand to Haunted City. So it's good to reflect on how far we've come, and share our story.</p>
  </div>
  <!-- Monsters founded, Terrors Founded -->
   <!-- Break for Covid...did ...instead-->
    <!--First training back after covid-->
    <!-- Post-covid resurgence-->
    <div class="timeline">
      <div class="timecontainer left">
        <div class="timecontent">
          <h2>2011</h2>
          <p>York Minxters Roller Derby first founded</p>
        </div>
      </div>
      <!--<div class="timecontainer right">
        <div class="timecontent">
          <h2>2015</h2>
          <p>New Minxters website! Made by Shiv</p>
        </div>
      </div>-->
      <div class="timecontainer right">
        <div class="timecontent">
          <h2>2018</h2>
          <p>OTA team Monsters created</p>
        </div>
      </div>
      <div class="timecontainer left">
        <div class="timecontent">
          <h2>2018</h2>
          <p>York Minxters Win the Team/Club of the Year in the Active York Awards 2018</p>
        </div>
      </div>
      <div class="timecontainer right">
        <div class="timecontent">
          <h2>2019</h2>
          <p>Founded Yorkshire Terrors Junior Roller Derby</p>
        </div>
      </div>
      <div class="timecontainer left">
        <div class="timecontent">
          <h2>2020</h2>
          <p>Covid lockdowns: No Scrims or Training</p>
        </div>
      </div>
      <div class="timecontainer right">
        <div class="timecontent">
          <h2>2021</h2>
          <p>Indoor and Outdoor Skating back on!</p>
          <p>First New Intake since covid!</p>
        </div>
      </div>
      <div class="timecontainer left">
        <div class="timecontent">
          <h2>2022</h2>
          <p>Our bounce back from covid. We start to grow and grow</p>
        </div>
      </div>
      <div class="timecontainer right">
        <div class="timecontent">
          <h2>2024</h2>
          <p>Our OTA team becomes fully competitive!</p>
          <p>Rebrand to Haunted City Roller Derby with Wraiths, Phantoms and Terrors</p>
        </div>
      </div>
    </div>

  <div class="container info-card info">
    <p>At our inception Roller Derby was an emerging sport and the growth of the league has been an amazing success over the years.</p>
    <p>When the first few league members turned up to a sports hall on day one no one knew the rules, but with the support of the derby community in the UK and further afield we grew into a family of skaters, and competed against like-minded teams across the country.</p>
    <p>Many of us couldn't skate, or would even have claimed to be sporty before joining the league; as such we welcome and encourage anyone who is prepared to become a contributing member of our team to train with us – we can teach you everything you need to know.</p>
  </div>

</div>

<%- include ("partials/footer.ejs") %>
