<%- include("partials/header.ejs")  %>

<title>Haunted City History</title>
</head>
<body>

    <div class="text-center">
        <div class="container page-header">
            <h1>Haunted City's Past</h1>
            <h2>Coming Soon!</h2>
        </div>
    </div>

    <div class="container-fluid info-card info">

        <!--https://docs.google.com/document/d/111VhZsL7q9XWOnl2tAsW0itOjIzmSrC-P7sWRdAs-kk/edit-->

    </div>


<%- include("partials/footer.ejs")  %>
</body>