<%- include("partials/header.ejs")  %>

<title>Visit Haunted City at Home</title>
</head>
<body>

    <div class="text-center">
        <div class="container page-header">
            <h1>Plan your Visit</h1>
            <h2>Playing a Scrim with Haunted City? First time in York? We've got all the info you need</h2>
        </div>
    </div>

     
    <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><style>
        .path-0{
          animation:pathAnim-0 4s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }
        @keyframes pathAnim-0{
          0%{
            d: path("M 0,400 L 0,400 C 100.82142857142858,251.71428571428572 201.64285714285717,103.42857142857143 337,56 C 472.35714285714283,8.571428571428575 642.2499999999999,62.000000000000014 774,71 C 905.7500000000001,79.99999999999999 999.3571428571429,44.571428571428584 1104,92 C 1208.642857142857,139.42857142857142 1324.3214285714284,269.7142857142857 1440,400 L 1440,400 L 0,400 Z");
          }
          25%{
            d: path("M 0,400 L 0,400 C 116.39285714285714,258.42857142857144 232.78571428571428,116.85714285714286 372,79 C 511.2142857142857,41.142857142857146 673.2500000000001,107 777,107 C 880.7499999999999,107 926.2142857142858,41.14285714285714 1027,79 C 1127.7857142857142,116.85714285714286 1283.892857142857,258.42857142857144 1440,400 L 1440,400 L 0,400 Z");
          }
          50%{
            d: path("M 0,400 L 0,400 C 89.60714285714286,242.53571428571428 179.21428571428572,85.07142857142857 308,44 C 436.7857142857143,2.9285714285714284 604.7499999999999,78.25 731,80 C 857.2500000000001,81.75 941.7857142857142,9.92857142857143 1053,51 C 1164.2142857142858,92.07142857142857 1302.107142857143,246.03571428571428 1440,400 L 1440,400 L 0,400 Z");
          }
          75%{
            d: path("M 0,400 L 0,400 C 99.32142857142858,271.7142857142857 198.64285714285717,143.42857142857144 337,107 C 475.35714285714283,70.57142857142857 652.75,126.00000000000001 784,111 C 915.25,95.99999999999999 1000.3571428571429,10.57142857142857 1102,47 C 1203.642857142857,83.42857142857143 1321.8214285714284,241.71428571428572 1440,400 L 1440,400 L 0,400 Z");
          }
          100%{
            d: path("M 0,400 L 0,400 C 100.82142857142858,251.71428571428572 201.64285714285717,103.42857142857143 337,56 C 472.35714285714283,8.571428571428575 642.2499999999999,62.000000000000014 774,71 C 905.7500000000001,79.99999999999999 999.3571428571429,44.571428571428584 1104,92 C 1208.642857142857,139.42857142857142 1324.3214285714284,269.7142857142857 1440,400 L 1440,400 L 0,400 Z");
          }
        }</style><path d="M 0,400 L 0,400 C 100.82142857142858,251.71428571428572 201.64285714285717,103.42857142857143 337,56 C 472.35714285714283,8.571428571428575 642.2499999999999,62.000000000000014 774,71 C 905.7500000000001,79.99999999999999 999.3571428571429,44.571428571428584 1104,92 C 1208.642857142857,139.42857142857142 1324.3214285714284,269.7142857142857 1440,400 L 1440,400 L 0,400 Z" stroke="none" stroke-width="0" fill="#692b7b" fill-opacity="0.4" class="transition-all duration-300 ease-in-out delay-150 path-0"></path><style>
        .path-1{
          animation:pathAnim-1 4s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }
        @keyframes pathAnim-1{
          0%{
            d: path("M 0,400 L 0,400 C 105.25,288.75 210.5,177.5 341,148 C 471.5,118.5 627.2500000000001,170.75 757,183 C 886.7499999999999,195.25 990.5,167.50000000000003 1100,197 C 1209.5,226.49999999999997 1324.75,313.25 1440,400 L 1440,400 L 0,400 Z");
          }
          25%{
            d: path("M 0,400 L 0,400 C 108.92857142857142,321.07142857142856 217.85714285714283,242.14285714285714 340,197 C 462.14285714285717,151.85714285714286 597.5,140.49999999999997 725,140 C 852.5,139.50000000000003 972.1428571428571,149.85714285714286 1090,195 C 1207.857142857143,240.14285714285714 1323.9285714285716,320.07142857142856 1440,400 L 1440,400 L 0,400 Z");
          }
          50%{
            d: path("M 0,400 L 0,400 C 90.32142857142858,301.4642857142857 180.64285714285717,202.92857142857142 301,166 C 421.35714285714283,129.07142857142858 571.7499999999999,153.75 722,148 C 872.2500000000001,142.25 1022.3571428571429,106.07142857142858 1142,143 C 1261.642857142857,179.92857142857142 1350.8214285714284,289.9642857142857 1440,400 L 1440,400 L 0,400 Z");
          }
          75%{
            d: path("M 0,400 L 0,400 C 85.42857142857142,314.4642857142857 170.85714285714283,228.92857142857142 309,196 C 447.14285714285717,163.07142857142858 638,182.75 769,184 C 900,185.25 971.1428571428571,168.07142857142858 1073,201 C 1174.857142857143,233.92857142857142 1307.4285714285716,316.9642857142857 1440,400 L 1440,400 L 0,400 Z");
          }
          100%{
            d: path("M 0,400 L 0,400 C 105.25,288.75 210.5,177.5 341,148 C 471.5,118.5 627.2500000000001,170.75 757,183 C 886.7499999999999,195.25 990.5,167.50000000000003 1100,197 C 1209.5,226.49999999999997 1324.75,313.25 1440,400 L 1440,400 L 0,400 Z");
          }
        }</style><path d="M 0,400 L 0,400 C 105.25,288.75 210.5,177.5 341,148 C 471.5,118.5 627.2500000000001,170.75 757,183 C 886.7499999999999,195.25 990.5,167.50000000000003 1100,197 C 1209.5,226.49999999999997 1324.75,313.25 1440,400 L 1440,400 L 0,400 Z" stroke="none" stroke-width="0" fill="#692b7b" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-1"></path><style>
        .path-2{
          animation:pathAnim-2 4s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }
        @keyframes pathAnim-2{
          0%{
            d: path("M 0,400 L 0,400 C 154.35714285714283,360.3928571428571 308.71428571428567,320.7857142857143 415,294 C 521.2857142857143,267.2142857142857 579.5,253.24999999999994 683,248 C 786.5,242.75000000000006 935.2857142857142,246.21428571428572 1069,273 C 1202.7142857142858,299.7857142857143 1321.357142857143,349.8928571428571 1440,400 L 1440,400 L 0,400 Z");
          }
          25%{
            d: path("M 0,400 L 0,400 C 137.28571428571428,354.8571428571429 274.57142857142856,309.7142857142857 397,293 C 519.4285714285714,276.2857142857143 626.9999999999999,288 727,281 C 827.0000000000001,274 919.4285714285713,248.28571428571428 1037,265 C 1154.5714285714287,281.7142857142857 1297.2857142857142,340.8571428571429 1440,400 L 1440,400 L 0,400 Z");
          }
          50%{
            d: path("M 0,400 L 0,400 C 126.5,333.1071428571429 253,266.2142857142857 385,258 C 517,249.78571428571428 654.5000000000001,300.25 776,302 C 897.4999999999999,303.75 1003,256.78571428571433 1111,265 C 1219,273.21428571428567 1329.5,336.60714285714283 1440,400 L 1440,400 L 0,400 Z");
          }
          75%{
            d: path("M 0,400 L 0,400 C 112.14285714285714,340.2857142857143 224.28571428571428,280.57142857142856 351,260 C 477.7142857142857,239.42857142857142 619,258 736,261 C 853,264 945.7142857142858,251.42857142857144 1059,272 C 1172.2857142857142,292.57142857142856 1306.142857142857,346.2857142857143 1440,400 L 1440,400 L 0,400 Z");
          }
          100%{
            d: path("M 0,400 L 0,400 C 154.35714285714283,360.3928571428571 308.71428571428567,320.7857142857143 415,294 C 521.2857142857143,267.2142857142857 579.5,253.24999999999994 683,248 C 786.5,242.75000000000006 935.2857142857142,246.21428571428572 1069,273 C 1202.7142857142858,299.7857142857143 1321.357142857143,349.8928571428571 1440,400 L 1440,400 L 0,400 Z");
          }
        }</style><path d="M 0,400 L 0,400 C 154.35714285714283,360.3928571428571 308.71428571428567,320.7857142857143 415,294 C 521.2857142857143,267.2142857142857 579.5,253.24999999999994 683,248 C 786.5,242.75000000000006 935.2857142857142,246.21428571428572 1069,273 C 1202.7142857142858,299.7857142857143 1321.357142857143,349.8928571428571 1440,400 L 1440,400 L 0,400 Z" stroke="none" stroke-width="0" fill="#692b7b" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-2"></path></svg>
    

    <div class="container-fluid info-card info purple">

        <div class="container">

          <div class="text-center">
            <h2>Practical Information</h2>
            <h3>For visiting us at Energise Leisure Centre, York</h3>
            <p>Haunted City train and play home scrims at Energise Leisure Centre, Cornlands Road, Acomb, York, YO24 3DX</p>
          </div>

        <div class="google-map text-center">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37569.21504829928!2d-1.1695052314318144!3d53.94815892952469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487930d7c4d49f73%3A0x47288282a7fb4053!2sEnergise%20Leisure%20Centre!5e0!3m2!1sen!2suk!4v1721754475061!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <h3>How to get here</h3>

        <h4>By Car</h4>

        <p>From the A64 take the exit for Askham Bryan. At the roundabout take the second  exit signposted ‘York (north), Harrogate, Thirsk, Wetherby. Then follow the A1237 to the next roundabout and take the penultimate exit for Foxwood, where the brown Leisure Centre signs begin. At the next roundabout carry straight on (first exit), then take the second right onto Cornlands Road. You’ll find the entrance at the far end by the zebra crossing.</p>
        <p>Sat nav = YO24 3DX</p>
        <p>There is ample free parking at Energise if you are arriving by car. If the main part of the car park is full, further parking can be found alongside the sports hall side of the building, after the zebra crossing.</p>

        </div>
        </div>

        <div class="container-fluid info-card info lightpurple">
          <div class="container">
            <h4>By Bike</h4>
            <p>There is semi-covered bike parking available for 30 bikes.</p>
          </div> 
        </div>

        <div class="container-fluid info-card info purple">
          <div class="container">
            <h4>Buses</h4>
            <p>The number 4 First York service stops closest, on Cornlands Rd. The 1, 5 and 5a all stop a short walk away on Front Street, Acomb. From the Front Street stops, head along to the mini roundabout onto Gale Lane, go down to the next mini roundabout and onto Cornlands Rd, where the entrance is just by the zebra crossing.</p>    
          </div> 
        </div>

        <div class="container-fluid info-card info lightpurple">
          <div class="container">
            <h4>Rail</h4>
            <p>If you are arriving by train, the number 4 First York bus you need leaves from the stops directly over the road from the front of the station.</p>    
          </div> 
        </div>

        <div class="container-fluid info-card info purple">
          <div class="container">
            <h4>Taxi</h4>
            <p>There is a taxi rank outside York Station. Taxis to Energise Leisure Centre cost around £10. Local companies include:</p>
            <p>York Cars 01904 765765</p>
            <p>Streamline 01904 656565</p>       
          </div> 
        </div>
        
        
      <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 490" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><style>
        .path-0{
          animation:pathAnim-0 4s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }
        @keyframes pathAnim-0{
          0%{
            d: path("M 0,500 L 0,93 C 103.28571428571428,75.17857142857143 206.57142857142856,57.357142857142854 323,56 C 439.42857142857144,54.642857142857146 569,69.75000000000001 687,74 C 805,78.24999999999999 911.4285714285716,71.64285714285714 1035,73 C 1158.5714285714284,74.35714285714286 1299.2857142857142,83.67857142857143 1440,93 L 1440,500 L 0,500 Z");
          }
          25%{
            d: path("M 0,500 L 0,93 C 95.85714285714286,87.82142857142857 191.71428571428572,82.64285714285714 326,86 C 460.2857142857143,89.35714285714286 633,101.25 771,98 C 909,94.75 1012.2857142857142,76.35714285714286 1118,73 C 1223.7142857142858,69.64285714285714 1331.857142857143,81.32142857142857 1440,93 L 1440,500 L 0,500 Z");
          }
          50%{
            d: path("M 0,500 L 0,93 C 125.89285714285717,70.10714285714286 251.78571428571433,47.214285714285715 386,52 C 520.2142857142857,56.785714285714285 662.7500000000001,89.25000000000001 766,106 C 869.2499999999999,122.74999999999999 933.2142857142856,123.78571428571429 1039,119 C 1144.7857142857144,114.21428571428571 1292.3928571428573,103.60714285714286 1440,93 L 1440,500 L 0,500 Z");
          }
          75%{
            d: path("M 0,500 L 0,93 C 145.32142857142856,114.64285714285714 290.6428571428571,136.28571428571428 415,124 C 539.3571428571429,111.71428571428571 642.75,65.5 745,55 C 847.25,44.49999999999999 948.3571428571429,69.71428571428571 1064,82 C 1179.642857142857,94.28571428571429 1309.8214285714284,93.64285714285714 1440,93 L 1440,500 L 0,500 Z");
          }
          100%{
            d: path("M 0,500 L 0,93 C 103.28571428571428,75.17857142857143 206.57142857142856,57.357142857142854 323,56 C 439.42857142857144,54.642857142857146 569,69.75000000000001 687,74 C 805,78.24999999999999 911.4285714285716,71.64285714285714 1035,73 C 1158.5714285714284,74.35714285714286 1299.2857142857142,83.67857142857143 1440,93 L 1440,500 L 0,500 Z");
          }
        }</style><path d="M 0,500 L 0,93 C 103.28571428571428,75.17857142857143 206.57142857142856,57.357142857142854 323,56 C 439.42857142857144,54.642857142857146 569,69.75000000000001 687,74 C 805,78.24999999999999 911.4285714285716,71.64285714285714 1035,73 C 1158.5714285714284,74.35714285714286 1299.2857142857142,83.67857142857143 1440,93 L 1440,500 L 0,500 Z" stroke="none" stroke-width="0" fill="#692b7b" fill-opacity="0.4" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 250)"></path><style>
        .path-1{
          animation:pathAnim-1 4s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }
        @keyframes pathAnim-1{
          0%{
            d: path("M 0,500 L 0,218 C 162.64285714285717,216.03571428571428 325.28571428571433,214.07142857142858 426,209 C 526.7142857142857,203.92857142857142 565.5,195.75 671,196 C 776.5,196.25 948.7142857142858,204.92857142857144 1088,210 C 1227.2857142857142,215.07142857142856 1333.642857142857,216.53571428571428 1440,218 L 1440,500 L 0,500 Z");
          }
          25%{
            d: path("M 0,500 L 0,218 C 149.53571428571428,217.35714285714286 299.07142857142856,216.71428571428572 406,222 C 512.9285714285714,227.28571428571428 577.25,238.50000000000006 687,239 C 796.75,239.49999999999994 951.9285714285713,229.28571428571428 1085,224 C 1218.0714285714287,218.71428571428572 1329.0357142857142,218.35714285714286 1440,218 L 1440,500 L 0,500 Z");
          }
          50%{
            d: path("M 0,500 L 0,218 C 132.75,229.14285714285714 265.5,240.28571428571428 396,245 C 526.5,249.71428571428572 654.75,248 778,237 C 901.25,226 1019.5,205.7142857142857 1129,201 C 1238.5,196.2857142857143 1339.25,207.14285714285717 1440,218 L 1440,500 L 0,500 Z");
          }
          75%{
            d: path("M 0,500 L 0,218 C 101,197.03571428571428 202,176.07142857142858 336,176 C 470,175.92857142857142 637,196.74999999999997 765,197 C 893,197.25000000000003 982,176.92857142857142 1088,177 C 1194,177.07142857142858 1317,197.53571428571428 1440,218 L 1440,500 L 0,500 Z");
          }
          100%{
            d: path("M 0,500 L 0,218 C 162.64285714285717,216.03571428571428 325.28571428571433,214.07142857142858 426,209 C 526.7142857142857,203.92857142857142 565.5,195.75 671,196 C 776.5,196.25 948.7142857142858,204.92857142857144 1088,210 C 1227.2857142857142,215.07142857142856 1333.642857142857,216.53571428571428 1440,218 L 1440,500 L 0,500 Z");
          }
        }</style><path d="M 0,500 L 0,218 C 162.64285714285717,216.03571428571428 325.28571428571433,214.07142857142858 426,209 C 526.7142857142857,203.92857142857142 565.5,195.75 671,196 C 776.5,196.25 948.7142857142858,204.92857142857144 1088,210 C 1227.2857142857142,215.07142857142856 1333.642857142857,216.53571428571428 1440,218 L 1440,500 L 0,500 Z" stroke="none" stroke-width="0" fill="#692b7b" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-1" transform="rotate(-180 720 250)"></path><style>
        .path-2{
          animation:pathAnim-2 4s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }
        @keyframes pathAnim-2{
          0%{
            d: path("M 0,500 L 0,343 C 109.78571428571428,335.1071428571429 219.57142857142856,327.2142857142857 327,327 C 434.42857142857144,326.7857142857143 539.4999999999999,334.24999999999994 670,338 C 800.5000000000001,341.75000000000006 956.4285714285713,341.78571428571433 1089,342 C 1221.5714285714287,342.21428571428567 1330.7857142857142,342.60714285714283 1440,343 L 1440,500 L 0,500 Z");
          }
          25%{
            d: path("M 0,500 L 0,343 C 95.75,351.1071428571429 191.5,359.2142857142857 316,369 C 440.5,378.7857142857143 593.75,390.25 730,385 C 866.25,379.75 985.5,357.78571428571433 1101,348 C 1216.5,338.21428571428567 1328.25,340.60714285714283 1440,343 L 1440,500 L 0,500 Z");
          }
          50%{
            d: path("M 0,500 L 0,343 C 101.14285714285714,367.1071428571429 202.28571428571428,391.2142857142857 314,383 C 425.7142857142857,374.7857142857143 548,334.25 663,318 C 778,301.75 885.7142857142858,309.7857142857143 1014,318 C 1142.2857142857142,326.2142857142857 1291.142857142857,334.6071428571429 1440,343 L 1440,500 L 0,500 Z");
          }
          75%{
            d: path("M 0,500 L 0,343 C 139.10714285714283,351.2142857142857 278.21428571428567,359.42857142857144 402,346 C 525.7857142857143,332.57142857142856 634.2499999999999,297.5 744,301 C 853.7500000000001,304.5 964.7857142857142,346.57142857142856 1081,360 C 1197.2142857142858,373.42857142857144 1318.607142857143,358.2142857142857 1440,343 L 1440,500 L 0,500 Z");
          }
          100%{
            d: path("M 0,500 L 0,343 C 109.78571428571428,335.1071428571429 219.57142857142856,327.2142857142857 327,327 C 434.42857142857144,326.7857142857143 539.4999999999999,334.24999999999994 670,338 C 800.5000000000001,341.75000000000006 956.4285714285713,341.78571428571433 1089,342 C 1221.5714285714287,342.21428571428567 1330.7857142857142,342.60714285714283 1440,343 L 1440,500 L 0,500 Z");
          }
        }</style><path d="M 0,500 L 0,343 C 109.78571428571428,335.1071428571429 219.57142857142856,327.2142857142857 327,327 C 434.42857142857144,326.7857142857143 539.4999999999999,334.24999999999994 670,338 C 800.5000000000001,341.75000000000006 956.4285714285713,341.78571428571433 1089,342 C 1221.5714285714287,342.21428571428567 1330.7857142857142,342.60714285714283 1440,343 L 1440,500 L 0,500 Z" stroke="none" stroke-width="0" fill="#692b7b" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-2" transform="rotate(-180 720 250)"></path></svg>


        <div class="container-fluid info-card info">
          <div class="container">
            <h3>Energise Leisure Centre</h3>
            <h4>Opening hours are:</h4>
              <p>Mon-Fri: 06:30 - 21:30</p>
              <p>Sat-Sun: 08:00 - 18:00</p>      
          </div> 
        </div>

        <div class="container-fluid info-card info grey">
          <div class="container">
            <h4>Toilets and Changing facilities:</h4>
            <p>Toilets past reception desk when you walk in, on the right, just down the corridor</p>
            <p>Changing rooms next to toilets, with showers in the changing rooms</p>
            <p>Another set of toilets near the swimming pool</p>    
          </div> 
        </div>

        <div class="container-fluid info-card info">
          <div class="container">
            <h4>Disabilities:</h4>
            <p>Accessible changing and disabled toilet</p>
            <p>Sports hall & changing rooms are on on ground floor</p>     
          </div> 
        </div>

        <div class="container-fluid info-card info grey">
          <div class="container">
            <h4>Food and drink:</h4>
            <p>There is a vending machine on site for drinks and snacks (follow signs to the pool and gym).</p>
            <p>There is a water fountain near the vending machines.</p>
            <p>The cafe (run by the Little Yorkshire Coffee Co) opening hours are:</p>
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <p>Mon 10-7</p>
                  <p>Tue 10-7</p>
                  <p>Wed 4-7</p>
                </div>
                  <div class="col-md-4">
                    <p>Thu 10:30 - 7</p>
                    <p>Fri 10:30-7</p>
                </div>
                <div class="col-md-4">
                  <p>Sat 8-1:30</p>
                  <p>Sun 8-1:30</p>
                </div>
              </div>
            </div>   
          </div> 
        </div>

        <div class="container-fluid info-card info">
          <div class="container">
            <h4>Floor:</h4>
            <p>The floor is average / slightly slippier than average. Average duro of 88, with a range of 84-93 being used.</p>
            <p>The track has been painted in August 2023 and is orange.</p>
          </div> 
        </div>

        <div class="container-fluid info-card info grey">
          <div class="container">
            <p><em>To note:</em></p>
            <p>The sports centre doesn’t like people leaving the hall with skates on. Please take your skates off before going to the toilet.</p>
          </div> 
        </div>
        
        <div class="container-fluid info-card info">
          <div class="container">
            <h4>Spectators:</h4>
            <p>The only space for viewing is within the cafe, which has windows to the hall.</p>
            <p>There are tables and chairs and one sofa. Spaces are not guaranteed.</p>       
          </div> 
        </div>
  
      
<%- include("partials/footer.ejs")  %>
</body>