<%- include ("partials/header.ejs") %>

<title>Terrors</title>
</head>
<body>

    <div class="text-center full-screen">

        <div class="title-card">

            <h1>Terrors</h1>

            <img class="img-fluid rotating" src="terrorsLogotransp.png
            ">

            <h2>Our Juniors Team</h2>
            <h3>Open to young people aged 8 to 17 years</h3> 

        </div>
       
    </div>
    
    <%- include ("partials/footer.ejs") %>
  </body>