<%- include ("partials/header.ejs") %>

<title>Haunted City Teams</title>
</head>
<body>

    <div class="text-center full-screen">

        <div class="ourTeams">

            <h1>Our Teams</h1>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                      <a href="/wraiths">
                        <img class="rotating team-img" src="wraithsLogotransp.png">
                      </a>
                        <!--<h3>Wraiths: Our WFTDA Team</h3>
                        <p>WFTDA Team</p>-->

                    </div>

                    <div class="col-sm-4">
                      <a href="/phantoms">
                        <img class="rotating team-img" src="phantomsLogotransp.png"></a>
                        <!--<h3>Phantoms: Our OTA Team</h3>
                        <p>OTA Team</p>-->
                    </div>

                    <div class="col-sm-4">
                      <a href="/terrors">
                        <img class="rotating team-img" src="terrorsLogotransp.png">
                      </a>
                        <!--<h3>Terrors</h3>
                        <p><a href="/terrors">Juniors Team</p>-->
                    </div>
                </div>

            </div>

            <div class="container info-card text-center">
              <p>If you are interested in joining our teams or in arranging scrims please contact: </p>
              <p>hauntedcityrd@gmail.com</p>        
            </div>

        </div>
       
    </div>



    <div class="container info-card info text-center">
      <h2>The Committee</h2>
      <h3>The Board, Leadership and Supporting Roles</h3>
      <p>The board keep the club running. Roles include co-ordinating training,
        captaining the teams, keeping the social media running, organising fundraising, 
        and beyond.
      </p>
        
        <!--<div class="row text-center">
          <h3>The Board</h3>
          <div class="col-sm-4">
            <img src="public/headshot.png">
            <p>Chair</p>
  
          </div>
          <div class="col-sm-4">
            <img src="public/headshot.png">
            <p>Treasurer</p>
  
          </div>
          <div class="col-sm-4">
            <img src="public/headshot.png">
            <p>Secretary</p>
          </div>
        </div>
  
          <div class="row text-center">
            <h3>Heads of Training</h3>
            <div class="col-sm-6 col-md-3">
              <img src="public/headshot.png">
              <p>Head of Training</p>
    
            </div>
            <div class="col-sm-6 col-md-3">
              <img src="public/headshot.png">
              <p>Wraiths Captain</p>
    
            </div>
            <div class="col-sm-6 col-md-3">
              <img src="public/headshot.png">
              <p>Phantoms Captain</p>
            </div>
  
            <div class="col-sm-6 col-md-3">
              <img src="public/headshot.png">
              <p>Head Coach of Terrors</p>
            </div>
          </div>
        
            <div class="row text-center">
              <h3>Our Coaches</h3>
              <div class="col-sm-6 col-md-3">
                <img src="public/headshot.png">
      
              </div>
              <div class="col-sm-6 col-md-3">
                <img src="public/headshot.png">
      
              </div>
              <div class="col-sm-6 col-md-3">
                <img src="public/headshot.png">
              </div>
    
              <div class="col-sm-6 col-md-3">
                <img src="public/headshot.png">
              </div>
            </div>
  
              <div class="row text-center">
                <h3>Team Leads</h3>
                <div class="col-sm-4">
                  <img src="public/headshot.png">
                  <p>Head of Media</p>
        
                </div>
                <div class="col-sm-4">
                  <img src="public/headshot.png">
                  <p>Head of Internal and External Engagements</p>
        
                </div>
                <div class="col-sm-4">
                  <img src="public/headshot.png">
                  <p>Head of Events and Fundraising</p>
                </div>
              </div>-->

              <hr>
  
              <p>We believe all members should have the opportunity to be part of the team, and give back to Haunted City</p>
              <p>Which is why we encourage all members of Haunted City to be contribute to one of our leadership groups</p>        
        
      </div>

  <%- include ("partials/footer.ejs") %>
</body>