<%- include ("partials/header.ejs") %>

<title>Phantoms</title>
</head>
<body>

    <div class="text-center full-screen">

        <div class="title-card">

            <h1>Phantoms</h1>

            <img class="img-fluid rotating" src="phantomsLogotransp.png">

            <h2>Our Open To All (OTA) team</h2>
            <h3>Open to everyone regardless of gender</h3> 

        </div>
       
    </div>

    <div class="container">
        <h2>Training Times</h2>

        <p>Thursdays 19:30-21:30</p>
        <p>Sundays 13:45- 15:45</p>

        <h2>Location</h2>
        <p>Energise Leisure Centre</p>
        <p>Cornlands Road</p>
        <p>Acomb</p>
        <p>York YO24 3DX</p>

    </div>
    
    <%- include ("partials/footer.ejs") %>
  </body>