<%- include ("partials/header.ejs") %>

<title>Haunted Links</title>
</head>
<body>

    <div class="text-center">

        <div class="container">

            <h1>Useful Links</h1>

        </div>

    </div>

    <div class="container">
        <h2>Roller Derby Rules and Regulations</h2>

        <p><a href="https://rules.wftda.com/" target="_blank">The WFTDA Rules</a></p>

        <p><a href="https://nurds.space/" target="_blank">Breaking and Making a Pack</a></p>

        <p><a href="https://rollerderby.directory/">Toast - to sign up as an NSO for games</a></p>


    </div>

    <div class="container">
        <h2>Tips to improve Roller Derby Skills</h2>

    </div>

    <div class="container">
        <h2>Tips to improve Roller Skating</h2>

        <div class="container text-center video">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/eXzKkXQCY_Q?si=Q3WXH3V7zU_N9kGB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>


    </div>

    <!--Adorable Covid Minxters Video -->
    <div class="container text-center video">
      <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fyorkrollerderby%2Fvideos%2F861493561022222%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
    </div>

    <%- include ("partials/footer.ejs") %>